Repository hmcts/ccd-case-management-web, pull requests merged in 2019-12, with the labels that each got.

#834 RDM-5535 Add nocache middleware
  package.json
  server.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-834

#828 Release cut 15.2
  package.json
  src/app/cases/creator/case-creator-submit.component.spec.ts
  src/app/cases/creator/case-creator-submit.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/workbasket/workbasket.component.html
  src/app/workbasket/workbasket.component.spec.ts
  src/app/workbasket/workbasket.component.ts
  test/features/caseUpdate.feature
  test/features/login.feature
  test/features/media-viewer.feature
  test/pageObjects/caseDetailsPage.js
  test/pageObjects/ccd-components/globalNavBar.js
  test/pageObjects/loginPage.js
  test/pageObjects/wizardPages/ComplexCollectionComplex/createQandAPage.js
  test/resources/definitionsFiles/fe-automation-definition-v26_RDM-5649_COMPLEX_CRUD_CUSTOM.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v27_RDM-5548_sortorder_tests.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v29_complexcrud.xlsx
  test/stepDefinitions/caseDetailsSteps.js
  test/stepDefinitions/caseListSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
  test/stepDefinitions/loginSteps.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-828

#836 RDM-6635 - pay bulkscan integration
  charts/ccd-case-management-web/Chart.yaml
  charts/ccd-case-management-web/values.aat.template.yaml
  charts/ccd-case-management-web/values.preview.template.yaml
  infrastructure/main.tf
  package.json
  server.ts
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/public/config.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-836

#842 Revert "RDM-6635 - pay bulkscan integration"
  charts/ccd-case-management-web/Chart.yaml
  charts/ccd-case-management-web/values.aat.template.yaml
  charts/ccd-case-management-web/values.preview.template.yaml
  infrastructure/main.tf
  package.json
  server.ts
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/public/config.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-842

#840 RDM-4324 and RDM-5303 toolkit release update
  package.json
  test/features/caseFilters.feature
  test/features/fieldTypes.feature
  test/features/search.feature
  test/pageObjects/wizardPages/ComplexCollectionComplex/createSchoolPage.js
  test/resources/definitionsFiles/fe-automation-definition-v30_complexcrud.xlsx
  test/stepDefinitions/caseListSteps.js
  test/utils/TestData.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-840

#849 RDM-6887: Bumped up toolkit version
  charts/ccd-case-management-web/values.preview.template.yaml
  package.json
  test/features/search.feature
  yarn.lock
Labels: ns:ccd-case-management-web-pr-849

#851 Rdm 6556
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  bin/run-yarn-audit.sh
  package.json
  src/polyfills.ts
  test/README.md
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd-case-management-web-pr-851
