Repository hmcts/ccd-case-management-web, pull requests merged in 2019-08, with the labels that each got.

#766 RDM-4830 Using read-only fields as data for show conditions
  test/features/conditionalLogic.feature
  test/features/showandhide/readonlyFields.feature
  test/features/showandhide/readonlyFieldsComplex.feature
  test/pageObjects/createCaseWizardPage.js
  test/resources/definitionsFiles/fe-automation-definition-v22_RDM-4830_conditionals_on_readonly_fields.xlsx
  test/stepDefinitions/caseDetailsSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/validationSteps.js
Labels: ns:ccd-case-management-web-pr-766

#768 RDM-5313 toolkit release
  package.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-768

#767 Case List Table Functional Tests
  test/features/caseList.feature
  test/features/markdownOnCollectionItems.feature
  test/pageObjects/caseDetailsPage.js
  test/pageObjects/caseListPage.js
  test/pageObjects/ccd-components/caseFilters.js
  test/pageObjects/ccd-components/caseListComponent.js
  test/pageObjects/ccd-components/fields/ccdMultiSelectField.js
  test/resources/definitionsFiles/fe-automation-definition-v23_RDM-5076_caselist_tests.xlsx
  test/stepDefinitions/caseListSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
  test/stepDefinitions/loginSteps.js
  test/utils/TestData.js
Labels: ns:ccd-case-management-web-pr-767

#751 Rdm 5318 work basket no defaults
  README.md
  package.json
  src/app/core/core.component.spec.ts
  src/app/core/core.component.ts
  src/app/workbasket/workbasket.component.spec.ts
  src/app/workbasket/workbasket.component.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-751

#564 RDM-4073 Changes for conforming with CaseField updates
  package.json
  src/app/cases/creator/case-creator-submit.component.spec.ts
  yarn.lock
Labels: enhancement, ns:ccd-case-management-web-pr-564

#772 Revert "RDM-4073 Changes for conforming with CaseField updates"
  package.json
  src/app/cases/creator/case-creator-submit.component.spec.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-772

#769 Rdm 5398
  package.json
  src/style/app.scss
  yarn.lock
Labels: ns:ccd-case-management-web-pr-769

#777 updated Chart
  charts/ccd-case-management-web/Chart.yaml
  charts/ccd-case-management-web/requirements.yaml
  charts/ccd-case-management-web/templates/NOTES.txt
  charts/ccd-case-management-web/values.yaml
Labels: ns:ccd-case-management-web-pr-777

#779 Revert "Rdm 5398"
  package.json
  src/style/app.scss
  yarn.lock
Labels: ns:ccd-case-management-web-pr-779
