Repository hmcts/ccd-case-management-web, pull requests merged in 2019-05, with the labels that each got.

#622 Rdm 4132 tests
  test/features/caseFilters.feature
  test/features/caseList.feature
  test/features/fieldTypes.feature
  test/features/search.feature
  test/pageObjects/caseListPage.js
  test/pageObjects/ccd-components/caseFilters.js
  test/pageObjects/ccd-components/caseListComponent.js
  test/pageObjects/ccd-components/fields/ccdFixedList.js
  test/pageObjects/searchPage.js
  test/stepDefinitions/caseListSteps.js
  test/stepDefinitions/searchSteps.js
Labels: ns:ccd-case-management-web-pr-622

#645 RDM-3460 Workbasket input search - use elementPath to build caseField id
  package.json
  src/app/workbasket/filters/workbasket-filters.component.spec.ts
  src/app/workbasket/filters/workbasket-filters.component.ts
  test/resources/definitionsFiles/fe-automation-definition-v05.xlsx
  yarn.lock
Labels: ns:ccd-case-management-web-pr-645

#650 RDM-4574 new contract for create case filters
  package.json
  src/app/cases/creator/case-creator.component.html
  src/app/cases/creator/case-creator.component.spec.ts
  src/app/cases/creator/case-creator.component.ts
  src/app/core/core.module.ts
  src/app/core/definitions/definitions.service.spec.ts
  src/app/core/definitions/definitions.service.ts
  src/app/workbasket/workbasket-input-filter.service.spec.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-650

#662 Add Functional Tests for new Collection View
  test/features/nestedcollections.feature
  test/pageObjects/caseDetailsPage.js
  test/pageObjects/createCaseWizardPage.js
  test/resources/definitionsFiles/fe-automation-definition-v02.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v03.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v04.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v05.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v06_collection_view.xlsx
  test/stepDefinitions/caseDetailsSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
  test/stepDefinitions/loginSteps.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-662

#658 Rdm 4535 new contract
  package.json
  src/app/core/core.module.ts
  src/app/workbasket/filters/workbasket-filters.component.spec.ts
  src/app/workbasket/filters/workbasket-filters.component.ts
  src/app/workbasket/filters/workbasket-filters.html
  src/app/workbasket/filters/workbasket-filters.scss
  src/app/workbasket/workbasket-input-filter.service.spec.ts
  src/app/workbasket/workbasket-input-filter.service.ts
  src/app/workbasket/workbasket-input.model.ts
  src/app/workbasket/workbasket.component.html
  src/app/workbasket/workbasket.component.spec.ts
  src/app/workbasket/workbasket.component.ts
  src/app/workbasket/workbasket.module.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-658

#679 Revert "Rdm 4535 new contract"
  charts/ccd-case-management-web/requirements.yaml
  package.json
  src/app/core/core.module.ts
  src/app/workbasket/filters/workbasket-filters.component.spec.ts
  src/app/workbasket/filters/workbasket-filters.component.ts
  src/app/workbasket/filters/workbasket-filters.html
  src/app/workbasket/filters/workbasket-filters.scss
  src/app/workbasket/workbasket-input-filter.service.spec.ts
  src/app/workbasket/workbasket-input-filter.service.ts
  src/app/workbasket/workbasket-input.model.ts
  src/app/workbasket/workbasket.component.html
  src/app/workbasket/workbasket.component.spec.ts
  src/app/workbasket/workbasket.component.ts
  src/app/workbasket/workbasket.module.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-679

#672 RDM-4626: Privacy policy for Financial remedy
  src/app/footer-nav/privacy.component.html
Labels: enhancement, ns:ccd-case-management-web-pr-672

#682 RDM-876-2: Hide Print button when not configured
  package.json
  test/features/caseView.feature
  test/pageObjects/caseDetailsPage.js
  test/stepDefinitions/caseDetailsSteps.js
  test/stepDefinitions/definitionFileSteps.js
  yarn.lock
Labels: enhancement, ns:ccd-case-management-web-pr-682

#692 Rdm 4622 - Functional tests
  package.json
  test/README.md
  test/features/conditionalLogic.feature
  test/resources/definitionsFiles/fe-automation-definition-v06_collection_view.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v09_showandhide_nocasetypetab.xlsx
  test/stepDefinitions/caseDetailsSteps.js
  test/stepDefinitions/create-caseSteps.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-692
