Repository hmcts/ccd-case-management-web, pull requests merged in 2019-06, with the labels that each got.

#689 RDM-4687 - functional tests for conditional show and hide on complex types
  package.json
  test/features/conditionalLogic.feature
  test/resources/definitionsFiles/fe-automation-definition-v09_showandhide_nocasetypetab.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v11_RDM-4687_hideandshow_complextype.xlsx
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-689

#674 Enable perftest +ithc env
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/terraform.sh
Labels: ns:ccd-case-management-web-pr-674

#605 Add liveness check
  package.json
  server.ts
  webpack.server.config.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-605

#696 RDM-4877 Functional tests for show and hide for basic types
  test/features/showandhide/fieldInputTypes.feature
  test/pageObjects/ccd-components/fields/ccdAddressUKField.js
  test/pageObjects/ccd-components/fields/ccdMultiSelectField.js
  test/pageObjects/ccd-components/fields/ccdTextAreaField.js
  test/pageObjects/createCaseWizardPage.js
  test/resources/definitionsFiles/fe-automation-definition-v11_RDM-4687_hideandshow_complextype.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v12_RDM-4877_showandhide_basetypes.xlsx
  test/stepDefinitions/searchSteps.js
  test/stepDefinitions/validationSteps.js
  test/utils/fieldUtils.js
Labels: ns:ccd-case-management-web-pr-696

#695 Update Toolkit v2.51.1 - introducing Dynamic Lists
  package.json
  src/app/cases/creator/case-creator-submit.component.spec.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-695

#684 Rdm-4535 Case List Filters new contract
  package.json
  src/app/core/core.module.ts
  src/app/search/search.component.spec.ts
  src/app/search/search.component.ts
  src/app/workbasket/filters/workbasket-filters.component.spec.ts
  src/app/workbasket/filters/workbasket-filters.component.ts
  src/app/workbasket/filters/workbasket-filters.html
  src/app/workbasket/filters/workbasket-filters.scss
  src/app/workbasket/workbasket-input-filter.service.spec.ts
  src/app/workbasket/workbasket-input-filter.service.ts
  src/app/workbasket/workbasket-input.model.ts
  src/app/workbasket/workbasket.component.html
  src/app/workbasket/workbasket.component.spec.ts
  src/app/workbasket/workbasket.component.ts
  src/app/workbasket/workbasket.module.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-684

#681 Rdm 2804 & RDM-4764 - Add SOME FE functional tests for OR and NOT show and hide logic
  test/features/conditionalLogic.feature
  test/resources/definitionsFiles/fe-automation-definition-v13_RDM-2804_ORandNotEquals.xlsx
  test/stepDefinitions/definitionFileSteps.js
  test/stepDefinitions/orNotEqualsSteps.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-681

#703 RDM-4336 Consume the new external V2 Create Event endpoint
  package.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-703

#685 Rdm-4536 Case List Filters Functional Tests
  package.json
  test/config/crossbrowser.conf.js
  test/features/caseFilters.feature
  test/features/search.feature
  test/pageObjects/caseListPage.js
  test/pageObjects/ccd-components/caseFilters.js
  test/pageObjects/ccd-components/caseListComponent.js
  test/pageObjects/ccd-components/fields/ccdDateField.js
  test/pageObjects/ccd-components/fields/ccdFixedList.js
  test/pageObjects/ccd-components/fields/ccdMultiSelectField.js
  test/pageObjects/ccd-components/fields/ccdTextAreaField.js
  test/pageObjects/ccd-components/fields/ccdYesNoField.js
  test/pageObjects/webdriver-components/dropdown.js
  test/stepDefinitions/caseListSteps.js
  test/stepDefinitions/searchSteps.js
  test/utils/fieldUtils.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-685

#715 Rdm 4264 DAC - Duplicate postcode input IDs
  package.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-715

#699 RDM-4781-functional tests
  test/features/conditionalLogic.feature
  test/pageObjects/createCaseWizardPage.js
  test/resources/definitionsFiles/fe-automation-definition-RDM-4781.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v14_RDM-4781.xlsx
  test/stepDefinitions/baseSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
  test/stepDefinitions/orNotEqualsSteps.js
  test/utils/TestData.js
  yarn.lock
Labels: ns:ccd-case-management-web-pr-699

#700 Rdm-4789 Pagination functional tests
  test/features/caseList.feature
  test/features/conditionalLogic.feature
  test/pageObjects/ccd-components/caseListComponent.js
  test/stepDefinitions/baseSteps.js
  test/stepDefinitions/caseListSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/searchSteps.js
Labels: ns:ccd-case-management-web-pr-700

#720 RDM-4512: Updated ui-toolkit version to 2.55.2
  package.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-720

#702 RDM-4833 Showing fields within the same page
  test/features/complexTypes.feature
  test/features/conditionalLogic.feature
  test/features/showandhide/basicFields.feature
  test/features/showandhide/collectionOfComplex.feature
  test/features/showandhide/collections.feature
  test/features/showandhide/complexTypes.feature
  test/features/showandhide/fieldInputTypes.feature
  test/pageObjects/createCaseWizardPage.js
  test/pageObjects/wizardPages/conditionals_CreateCase_ConditionalPage1.js
  test/resources/definitionsFiles/fe-automation-definition-v13_RDM-4833_showandhide.xlsx
  test/resources/definitionsFiles/fe-automation-definition-v15_RDM-4833_showandhide.xlsx
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
  test/stepDefinitions/validationSteps.js
Labels: ns:ccd-case-management-web-pr-702

#686 RDM-2987 Add styling for markdown hr tag to remove top and bottom mar…
  package.json
  src/style/_markdown.scss
  yarn.lock
Labels: enhancement, ns:ccd-case-management-web-pr-686

#721 Bump chart version
  charts/ccd-case-management-web/Chart.yaml
Labels: ns:ccd-case-management-web-pr-721

#722 RDM-5214 Config fix to pick up feature files from directories
  test/README.md
  test/config/conf.js
  test/config/crossbrowser.conf.js
  test/config/local.conf.js
Labels: ns:ccd-case-management-web-pr-722

#661 RDM-4357: Misleading error correction
  src/app/cases/creator/case-creator.component.html
  src/app/cases/creator/case-creator.component.spec.ts
Labels: enhancement, ns:ccd-case-management-web-pr-661

#730 RDM-4891 - New Postcode Lookup
  package.json
  yarn.lock
Labels: ns:ccd-case-management-web-pr-730
