Repository hmcts/ccd-case-management-web, pull requests merged in 2020-11, with the labels that each got.

#976 RDM-9551-TF
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-976

#989 Release cut 20.1
  Dockerfile
  charts/ccd-case-management-web/values.preview.template.yaml
  hub.Dockerfile
  package.json
  sonar-project.properties
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/app/app.module.ts
  src/app/core/interceptor/requestinterceptor.ts
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-989

#992 Rdm 10197
  charts/ccd-case-management-web/Chart.yaml
  charts/ccd-case-management-web/values.yaml
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-992

#993 RDM-10294 Fix All Recent CVEs in All CCD Apps
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-993
