Repository hmcts/ccd-case-management-web, pull requests merged in 2020-01, with the labels that each got.

#845 RDM-6719: Add Banner Feature to CCD UI
  package.json
  src/app/app.config.ts
  src/app/cases/creator/case-creator.component.spec.ts
  src/app/core/banner/banner.component.scss
  src/app/core/banner/banner.component.spec.ts
  src/app/core/banner/banner.component.ts
  src/app/core/banner/banner.html
  src/app/core/banner/banner.module.ts
  src/app/core/core.component.html
  src/app/core/core.component.spec.ts
  src/app/core/core.component.ts
  src/app/core/core.module.ts
  src/app/search/search.component.spec.ts
  src/app/workbasket/workbasket.component.spec.ts
  yarn.lock
Labels: ns:ccd-case-management-web-pr-845

#858 RDM-6635 - Bulk Scan/Offline Pay CCD Integration
  charts/ccd-case-management-web/Chart.yaml
  charts/ccd-case-management-web/values.aat.template.yaml
  charts/ccd-case-management-web/values.preview.template.yaml
  infrastructure/main.tf
  package.json
  server.ts
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/public/config.json
  yarn.lock
Labels: ns:ccd, rel:ccd-case-management-web-pr-858

#861 16.2 release
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  angular.json
  bin/run-yarn-audit.sh
  charts/ccd-case-management-web/values.preview.template.yaml
  package.json
  server.ts
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/polyfills.ts
  test/README.md
  test/features/caseFilters.feature
  test/features/fieldTypes.feature
  test/features/search.feature
  test/pageObjects/wizardPages/ComplexCollectionComplex/createSchoolPage.js
  test/resources/definitionsFiles/fe-automation-definition-v30_complexcrud.xlsx
  test/stepDefinitions/caseListSteps.js
  test/utils/TestData.js
  web.config
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, rel:ccd-case-management-web-pr-861

#868 Force resolution of util and assert
  package.json
  yarn.lock
Labels: ns:ccd, rel:ccd-case-management-web-pr-868

#871 RDM-7377 - IE11 deformed UI elements
  src/polyfills.ts
Labels: ns:ccd, rel:ccd-case-management-web-pr-871

#859 RDM-6398: add UI functional test for Case View displaying of errors
  charts/ccd-case-management-web/values.preview.template.yaml
  test/README.md
  test/features/caseViewCallbackMessages.feature
  test/pageObjects/caseDetailsPage.js
  test/pageObjects/ccd-components/callbackErrorsComponent.js
  test/pageObjects/ccd-components/caseListComponent.js
  test/resources/definitionsFiles/fe-automation-definition-v31-RDM-6398_caseview_callback_errors.xlsx
  test/stepDefinitions/callbackErrorsSteps.js
  test/stepDefinitions/caseDetailsSteps.js
  test/stepDefinitions/create-caseSteps.js
  test/stepDefinitions/definitionFileSteps.js
Labels: ns:ccd, rel:ccd-case-management-web-pr-859

#860 Rdm 7134
  src/app/cases/creator/case-creator.component.spec.ts
  src/app/core/core.component.spec.ts
  src/app/core/core.component.ts
  src/app/core/pagination/pagination.service.spec.ts
  src/app/core/profile/profile.resolver.spec.ts
  src/app/core/profile/profile.resolver.ts
Labels: ns:ccd, rel:ccd-case-management-web-pr-860
