Repository hmcts/ccd-case-management-web, pull requests merged in 2020-08, with the labels that each got.

#953 CCD Apps Not Working Develop-to-Develop on Preview
  Jenkinsfile_CNP
  bin/backup-yarn-audit-with-suppressions.sh
  bin/run-yarn-audit.sh
  ccd-yarn-audit-known-issues
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-953, stale

#945 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-case-management-web/Chart.yaml
  charts/ccd-case-management-web/requirements.yaml
  package.json
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-945

#961 Skip smokes to enable build
  charts/ccd-case-management-web/Chart.yaml
  package.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-961

#960 remove CCD's own audit - not needed any more
  Jenkinsfile_CNP
  bin/backup-yarn-audit-with-suppressions.sh
  bin/run-yarn-audit.sh
  ccd-yarn-audit-known-issues
  package.json
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-960

#966 RDM-9299 - bump dot-prop to 5.2.0 i.e fix for advisory - 1213
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-966
