Repository hmcts/ccd-case-management-web, pull requests merged in 2021-06, with the labels that each got.

#1080 Ccd 1047 master
  charts/ccd-case-management-web/values.preview.template.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-1080

#1081 Weekly cut 10 june
  Dockerfile
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-1081

#1083 CCD-917: Update CCD-UI footer
  charts/ccd-case-management-web/values.preview.template.yaml
  src/app/core/core.component.html
  src/app/core/core.component.spec.ts
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-1083

#1092 CCD-1047 underscore CVE fix
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-management-web-pr-1092
